header{
    color:blue;
    font-style: italic;
    font-size: 15px;
    background-color: gray;
    
}
section{
    height: 300px;
    background-color: rgb(238, 148, 238);
    border: 5px solid gold;


}
h1{
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:gold;
    text-align: center;
}
footer{
    height: 300px;
    width: 70%;
    background: brown;
    
}
h2{
    text-decoration: line-through;
}